{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block about %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>My name <b>Dipam Halder</b>. I<sup>'</sup>m from Gurap,Hooghly. I have done my 10<sup>th</sup> from Gurap R.K
        Institution with an aggregate of <b>81%</b>. I have done my 12<sup>th</sup> from Gurap R.K
        Institution with an aggregate of <b>73.8%</b>. Then, I have taken admission U.I.T . I am pursuing a bachelor's
        in
        <b>IT</b>. I have done my third year with aggregate <b>8.49</b> CGPA.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'serv/images/DP1.JPG' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Software Engineer</h3>
        <p class="font-italic">

        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 Aug 1998</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Strem:</strong> <span>I.T</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+918001388527</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Burdwan, IND</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.E</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>dipamhalder0@gmail.com</span></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
            </ul>
          </div>
        </div>
        <p>
          I did an intership from <b>EDGEWRAPPER TECHNOLOGY PRIVATE LIMITED</b>. I have played Software Developer
          role. I am a Python Lover. I have done lots of competitive coding on different platforms like
          Hackerrank,HackerEarth,GeekforGeeks,Codewars.I have 5 stars gold batch in <b>python</b> and <b>Problem-Solving</b> in HackerRank.

        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
{% endblock about %}