{% extends 'core/base.html' %}
{% block title %}Resume{% endblock title %}

{% block resume %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Seeking an entry-level opportunity with an esteemed organization where i can utilize my technical skill
                and enhance learning in the field of work. Capable of mastering new technology.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>DIPAM HALDER</h4>
                    <p><em>Innovative and deadline-driven software engineers with 6 months of experience.
                        </em></p>
                    <ul>
                        <li>Burdwan,IND</li>
                        <li>+91 8001388527</li>
                        <li>dipamhalder0@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BACHELOR OF ENGINEERING</h4>
                    <h5>2017 - 2021</h5>
                    <p><em>University Institute of Technology, Burdwan,WB</em></p>
                    <p><em>Information Technology</em></p>
                    <li><b>CGPA:</b>8.49</li>
                </div>

                <div class="resume-item">
                    <h4>12<sup><b>th</b></sup> STANDARD</h4>
                    <h5>2016 - 2017</h5>
                    <p><em>Gurap RK Institution</em></p>
                    <li><b>Marks:</b>73.8%</li>
                </div>
                <div class="resume-item">
                    <h4>10<sup><b>th</b></sup> STANDARD</h4>
                    <h5>2014 - 2015</h5>
                    <p><em>Gurap RK Institution</em></p>
                    <li><b>Marks:</b>81%</li>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Movi Recommendation Engine</h4>
                    <h5>2020 - Present</h5>
                    <p><em>Gurap,Hooghly,WB </em></p>
                    <ul>
                        <li>Builed movie recommendation engine using Content-Base algorithm.</li>
                        <li>Used Python,scikit-learn,numpy,pandas,annaconda3,jupiter.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Gender-Classifier</h4>
                    <h5>2021 - Present</h5>
                    <p><em>Gurap,Hooghly,WB</em></p>
                    <ul>
                        <li>Developed Gender-Classifier using DecisionTreeClassifier. </li>
                        <li>Used stremlit The fastest way to
                            build and share data apps</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Resume Section -->
{% endblock resume %}